.message{
    display: flex;
    align-items: center;
    margin-left: 17px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.message:hover{
    opacity: 0.9;
    background-color: rgb(233, 233, 233);
}

.message > img {
    height: 45px;
    width: 45px;
    object-fit: contain;
}

.message__info{
    padding-left: 10px;
}

.message__timestamp{
    color: gray;
    font-weight: 300;
    font-size: 13px;
}